# Ignore .pem files
*.pem

# Node
node_modules/
dist/
.env

# Docker
.docker/

# Logs
*.log
output.log

# OS
.DS_Store
Thumbs.db

characters/*
!characters/.gitkeep
!characters/c3po.character.json

deploy-direct.sh
deploy.sh